version: 2

jobs:
  build:
    docker:
      - image: circleci/node:10.15.1

    working_directory: ~/repo

    steps:
      - checkout

      #- run: npm install
      #- run: npm run build:ci
      #- run:
      #    name: update-npm
      #    command: 'sudo npm install -g npm@latest'
      # Download and cache dependencies.

      - restore_cache:
          keys:
            - dependency-cache-{{ checksum "package.json" }}
            # Fallback to using the latest cache if no exact match is found.
            - dependency-cache-

      - run:
          name: Installing Node Modules
          #command: npm install
          command: yarn install

      - save_cache:
          paths:
            - ./node_modules
          key: dependency-cache-{{ checksum "package.json" }}

      - run:
          name: Completing Build
          #command: npm run build:ci
          command: yarn build:ci
      #- store_artifacts:
      #    path: test-results.xml
      #    prefix: tests
      #- store_artifacts:
      #    path: coverage
      #    prefix: coverage
      #- store_test_results:
      #    path: test-results.xml
